.calendarWrap {
    display: inline-block;
    position: relative;
  }
  
  .calendarElement {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 40px;
    border: 1px solid #ccc;
    z-index: 999;
  }
  input.inputBox {
    font-size: 22px;
    padding: 5px 8px 4px 8px;
    border-radius: 3px;
    border: 1px solid #666;
  }
  .header {
    position: fixed;
    height: 90px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    transition: .3s ease-in;
    overflow: hidden;
  
  }
  .header-bg {
    
    background-color: rgba(255, 255, 255);
    border-bottom:1px solid #e4e4e7;
   
  }
  
  
  .header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1240px;
    margin: auto;
    height: 100%;
    padding: 0 1rem;
  }
  
 
 
  
  .header .navbar img {
    width: 250px;
    height: auto;
  }
  
  .header .nav-menu {
    display: flex;
  }
  
  .header .nav-item {
    padding: 1rem;
    font-weight: 500;
  }
  
  .header .nav-item a:hover {
    padding-bottom: 12px;
    border-bottom: 3px solid var(--secondary-color);
  }
  
  .hamburger {
    display: none;
  }
  
  
  @media screen and (max-width:940px) {
    .header {
        max-width: 100%;
        background-color: white;
    }
  
    .header .navbar {
        max-width: 100%;
    }
  
    .hamburger {
        display: block;
    }
  
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 90px;
        flex-direction: column;
        background-color: white;
        width: 100%;
        height: 90vh;
        z-index: 999;
        text-align: center;
        transition: .3s;
        
    }
  
    .nav-menu.active {
        left: 0;
    }
    .nav-menu li  {
      color:#9ca3af !important;
      font-size: 2rem;
      
  }
  
  
    .nav-item {
        margin: 1.5rem 0;
    }
  
    .header .navbar img {
        width: 150px;
    }
  }
  
  .ParallaxMainContent {
    background-color: black ;
    color: #b8c1ec ;
    position: relative;
    height: 100%;
  }
  .ParallaxMainContent h3 {
    color: gold;
    text-align: center;
  }
  
  /* Video Parallax Section*/
  .ParallaxVideo {
    height: 300px;
  }
  
  .ParallaxVideo video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  .carousel {
    display: flex;
    height: 500px;
    width: 900%;
    max-width: 800px;
    background-color: pink;
  }

 
  .carousel_wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: red;
  }
  
  .carousel_card {
    display: flex;
    flex: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.15);
    opacity: 0;
    pointer-events: none;
    transform: scale(0.8);
    transition: 0.5s ease-in-out;
  }
  
  .carousel_card-active {
    opacity: 1;
    transform: scale(1);
    pointer-events: visible;
  }
  
  .card_image {
    width: 100%;
    object-fit: cover;
  }
  
  .card_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    padding: 40px 30px;
    align-items: flex-end;
  }
  
  .card_title {
    color: white;
    font-size: 30px;
  }
  .active
  {
    color:#FF4A51 !important;
  }
  .main{
    max-width: 'full';
    margin: 0 0;
    background-color: white;
  }
  
  h1 {
      font-size: 24px;
      font-weight: 400;
      text-align: center;
  }
  
  img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
  }
  
  .btn {
    color: #ffffff;
    padding: 0.8rem;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 400;
    display: block;
    width: 100%;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: transparent;
  }
  
  .btn:hover {
    background-color: rgba(255, 255, 255, 0.12);
  }
  
  .cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .cards_item {
    display: flex;
    padding: 1rem;
  }
  
  @media (min-width: 40rem) {
    .cards_item {
      width: 50%;
    }
  }
  
  @media (min-width: 56rem) {
    .cards_item {
      width: 33.3333%;
    }
  }
  
  .card {
    background-color: white;
    border-radius: 0rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
  .card_content {
    padding: 1rem;
    background: linear-gradient(to bottom left,  #f17d81 40%,#f7a8ac 100%);
  }
  
  .card_title {
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0px;
  }
  
  .card_text {
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;    
    font-weight: 400;
  }
  .made_by{
    font-weight: 400;
    font-size: 13px;
    margin-top: 35px;
    text-align: center;
  }.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Add an active class to highlight the current page */
  .active {
    background-color: #04AA6D;
    color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }
  
  /* Dropdown container - needed to position the dropdown content */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Style the dropdown button to fit inside the topnav */
  .dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  /* Style the dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Style the links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a dark background on topnav links and the dropdown button on hover */
  .topnav a:hover, .dropdown:hover .dropbtn {
    background-color: #555;
    color: white;
  }
  
  /* Add a grey background to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Show the dropdown menu when the user moves the mouse over the dropdown button */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child), .dropdown .dropbtn {
      display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
  }